<!DOCTYPE html>
<html>
<form action = "http://localhost:5000/login" method = "post">
<label for="indumento">Choose a indumento:</label>
<select name="nm" id="indumento">
  <option value="Maglia">Maglia</option>
  <option value="Scarpa">Scarpa</option>
  <option value="Zaino">Zaino</option>
  <option value="Gioiello">Gioiello</option>
  <option value="Pantalone">Pantalone</option>
  <option value="Accessorio">Accessorio</option>
</select>
<input type="submit" value="Ottieni dati">
    </form>
<form action = "http://localhost:5000/categoria" method = "post">
  <input type="submit" value="Categoria">
</form>
</html>
